[run]
source=
    arlib/

include=
    arlib/__init__.py

omit=
    tests/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    return NotImplemented
    raise NotImplementedError
    pass
    raise